html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.login-hints, .status {
  height: 20px;
}

.users-container {
  margin-top: 20px;
  display: flex;
}

.assignment {
  width: 700px;
}

.assignment pre {
  padding: 5px;
  background-color: #dbe6ff
}

.assignment code {
  background-color: #dbe6ff
}

.user {
  line-height: 16px;
  font-size: 1.2rem;
  padding: 5px 0;
  display: inline-block;
}

.exam-link, .exam-link:hover,
.exam-edit, .exams-edit:hover {
  background-color: #fff;
  color: #000 !important;
  text-decoration: none !important;
  transition: 0.3s all;
}

.exams-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.exams-task {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;

  border-bottom: 1px solid #eee;

  transition: 0.3s all;
}

.exam {
  display: flex;
  width: 100%;
}

.exam-link {
  display: inline-block;
  flex-grow: 1;
  padding: 10px;
}


.exam-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: auto;
  padding: 0 15px 0 15px;
  border-left: 1px solid #eee; 
}

.exam-link:hover, .exam-edit:hover {
  background-color: rgb(235,236,240);
}

#__next {
  height: 100%;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-img {
  width: 100px;
  height: 100px;
}

.title {
  font-size: 2rem;
  line-height: 16px;
  font-weight: 700;
  margin: 10px;
}

.textarea-wrapper {
  width: 550px;
  display: flex;
  flex-direction: column;
}

.textarea {
  margin: 20px 0;
}

.attempts-container {
  height: 400px;
  overflow: scroll;
  margin-top: 10px;
}

.hints-toggle-handle {
  cursor: pointer;
}

.assignment-name-input {
  width: 450px;
  height: 20px;
}

.testcases-container input {
  width: 50px;
}

.testcases-container input[type="checkbox"] {
  width: 20px;
}

.testcase-name-input {
  width: 300px !important;
  height: 20px !important;
}

.parallels {
  width: 500px;
  overflow: scroll;
}

.butt {
  margin: 10px 10px;
}

.exam-create-container {
  width: 450px;
  display: flex;
  flex-direction: column;
}

.flag-container {
  cursor: pointer;
  font-weight: 600;
}

.flag-container--error {
  color: red;
}
